body {
    font-family: 'Dancing Script', cursive;
    background-color: #fce4ec;
}

.centered {
    text-align: center;
    font-size: 40px;
    color: #ff69b4;
}

.calculator {
    width: 450px;
    margin: 40px auto;
    padding: 15px;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-width: 1.5px;
    align-items: center;
    border-radius: 20px;
    background-color: #ffb6c1;
    border-color: #ff69b4;
}

.monitor {
    border-color: transparent;
    border-radius: 4px;
    text-align: right;
    width: 92%;
    border-width: 4px;
    padding: 20px 10px;
    margin: 5px;
    align-items: center;
    border-style: solid;
    font-size: x-large;
    background-color: #ff69b4;
    color: white;
}

.result,
.button,
.buttonDigit {
    width: 65px;
    float: left;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    color: white;
    border: 1px solid #ff69b4;
    background-color: #ff1493;
}

.buttonDigit {
    background-color: #ff69b4;
}

.result {
    background-color: #ff69b4;
}

.result:hover,
.buttonDigit:hover,
.button:hover {
    background-color: #ff1493;
    color: white;
    border: 1.5px solid #ffffff;
}

.buttons,
.memoryButtons {
    display: flex;
    width: 100%;
}
